@model OtpVerificationDto

<style>
    .gradient-custom-3 {
        background: linear-gradient(to right, rgba(208, 167, 114, 0.5), rgba(224, 188, 146, 0.5), rgba(176, 139, 82, 0.5));
    }

    .gradient-custom-4 {
        background: linear-gradient(to right, rgba(208, 167, 114, 1), rgba(224, 188, 146, 1), rgba(176, 139, 82, 1));
    }
</style>

<section class="vh-100 bg-image"
         style="background-image: url('https://i.pinimg.com/736x/9d/69/8c/9d698c73b121dba00141e8a6e654c046.jpg');
        background-size: contain;
        background-repeat: repeat;">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100" style="margin-top:100px;margin-bottom:100px;">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-2">Reset Password Verification</h2>

                            <form method="post">

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="Otp">Enter OTP</label>
                                    <input asp-for="Otp" class="form-control form-control-lg" placeholder="Enter OTP" />
                                    <span asp-validation-for="Otp" class="text-danger"></span>
                                </div>

                                <input type="hidden" asp-for="Email" />

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-white">Verify OTP</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">
                                    Didn't receive the OTP? <a class="fw-bold text-body" asp-action="ResendOtpForgotPassword"><u>Resend OTP</u></a>
                                </p>

                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
