@model IEnumerable<ProductDto>

@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="card shadow border-0">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Product List</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div style="text-align:right" class="col-6 text-end">
                <a asp-action="ProductCreate" class="btn btn-primary"><i class="fa-solid fa-square-plus"></i> Add New</a>
            </div>
        </div>
        <table id="tblProductData" class="table table-bordered table-striped pt-3" style="width: 100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category Name</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script defer src="~/js/manage/product.js"></script>
}
